<div class="mobile-addthis">
<h2>Share this Blog</h2>
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
  <a class="addthis_button_facebook"></a>
  <a class="addthis_button_google_plusone_share"></a>
  <a class="addthis_button_twitter" tw:via="CareAcross"></a>
  <a class="addthis_button_linkedin"></a>
  <a class="addthis_button_email"></a>
  <a class="addthis_button_compact"></a>
</div>
</div>
<script type="text/javascript">
      var addthis_share = {
          url: 'http://blog.careacross.com',
          title: 'Care Across Blog',
          description: 'CareAcross will give patients and caregivers the best way to fight cancer beyond their hospital, from diagnosis to long-term care: support, news, tools & advice'

}
var addthis_config = {"data_track_addressbar": true};
      var addthis_share = addthis_share || {}
      addthis_share = {
          passthrough: {
              twitter: {
                  via: "CareAcross"//,
              }
          }
      }
      </script>
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52010e755298d660"></script>
